p{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
}
.anim, .anim svg {
  position: relative;
  width: 80%;
  height: 80%;
}
.anim path {
  stroke-width: 2;
}
