.menu-principal{
	/*padding-left: 10px;*/
	padding-left: 300px;
	background-color: #825fb7;
	/*margin-top: 10px;*/
	
}
.texto-nav{
	text-align: center;
	padding-left: 650px;
	
}
.a-texto{
	color: #04517d;/*#007bff*/
    text-decoration: none;
    background-color: transparent;
}
.conten-nav{
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;/*1.25*/
    line-height: inherit;
    white-space: nowrap;
}/*navbar-brand*/
.carrusel-imagenes{
	position: relative;
    width: 100%;
    overflow: hidden;
}/*carousel-inner*/
.animacion-canvas{
	width: 100%;
	height: 50%;
}
.fireworks{
	width: 1300px !important;
	height: 300px !important;
	background-color:#6177c7ab;
}
.texto-anime{
	margin-top: -20px;
	opacity: 1;
	text-align: center;

}
.link{
  align-items:center;
  margin-top: 20px;
  text-align: center;
}
.boton-menu{
	color: #41040;
	position: relative;
	justify-content:center;
	flex-direction:column;
	display: flex;
	width: 180px;
	height: 60px;
}